<section class="bg-hvid-950">
    
    <div class="p-4">
        <div class="absolute left-[86px] top-[103%]">
           <h3 class="font-omnium font-bold text-[26px] text-center text-gron-500 left-[10px]">25 top kompetente undervisere!</h3>
           <p class="text-center text-[11px]">Vi har samlet et unikt underviserteam</p>
        </div>
        <img src="/box.svg" class="w-[100%]" alt="box">
    </div>

    <div>
       <h3 class="font-omnium font-bold text-[26px] text-center text-rod-500 my-6 ">Tjek ud vores danse portrætter!</h3>
       
       <div class="flex gap-9 w-[25%] pb-20 ml-5">
         <img src="/dans1.png" alt="danse portrætter">
         <img src="/dans2.png" alt="danse portrætter">
         <img src="/dans3.png" alt="danse portrætter">
       </div>

    </div>

</section>