<section class="bg-hvid-950 flex items-center justify-center flex-col space-y-3 font-prompt py-12 text-center">

       <h4 class="text-rod-500 text-2xl font-bold text-[26px] md:text-[36px] ">Velkommen til Dansestudiet</h4>
       <p class="text-rod-500 font-light text-[11px] md:text-[16px]">Tilmeldning til efterårssæsonen 2023 er fortsat åben.</p>
       <p class="text-rod-500 font-light text-[11px] md:text-[16px]">Vi har mere end 50 danseklasser on ugen for alle aldre og niveauer!</p>

</section>