---
import Button from "./Button.astro";
---

<section>

    <div>
        <h2>Workshops</h2>
    </div>

    <div></div>

<div class="flex items-center justify-center">
<Button variant="primarytxt">Se alle workshops</Button></div>


</section>