---
import Button from "./Button.astro";
---


<section class="bg-hvid-950">
    
    <div class="p-4 md:flex justify-center items-center">
        <div class="absolute left-[95px] top-[109%] md:top-[135%] md:left-[356px]">
           <h3 class="font-prompt font-bold text-[18px] text-center text-gron-500 left-[10px] md:text-[52px] md:pb-[20px]">25 top kompetente undervisere!</h3>
           <p class="text-center text-[11px] md:text-[15px]">Vi har samlet et unikt underviserteam</p>
           <Button variant="secondarytxt">Se mere</Button>
           <!-- Det er denne knap der skal ind på cards -->
        </div>
        <img src="/box.svg" class="w-[100%] md:w-[80%]" alt="box">
    </div>
    

    <div class="mt-[7%]">
       <h3 class="font-prompt font-bold text-[18px] text-center text-rod-500 my-[7%] md:text-[52px]">Tjek ud vores danse portrætter!</h3>
       
       <div class="flex gap-9 w-[25%] pb-20 ml-5 md:ml-[10%]">
         <img src="/dans1.png" alt="danse portrætter">
         <img src="/dans2.png" alt="danse portrætter">
         <img src="/dans3.png" alt="danse portrætter">
       </div>

    </div>

</section>

